/*************
** LINKS *
**************
* Just CSS to make the link elements look pretty :)
*/

.container-links {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
  background-color: #E9EDF0;
  border-bottom: 2px solid #ddd;
}

.container-link {
  flex: 1 1 100%;
  text-align: center;
  border: 3px solid #ddd;
  display: block;
  padding: .5em 1em;
}

.container-link a {
  color: black;
  text-decoration: none;
}

/*************************
** Containers & Content **
**************************
* This is where most of the magic happens..
* animations and stuff to make the containers resize
*/

.container-title {
    font-size: 20;
    height: 40px;
    background-color: white;
    border: 3px solid #ddd;
}

.container-title h1 {
    -webkit-margin-before: 0;
}

.container {
  position: relative;
  transition: height .5s cubic-bezier(0.86, 0, 0.07, 1) .3s;
  height: 0px;
}

.container-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

.container-content.fade-out {
  transition: opacity .7s cubic-bezier(0.86, 0, 0.07, 1);
}

.container-content.active {
  transition: opacity .7s cubic-bezier(0.86, 0, 0.07, 1);
  opacity: 1;
  position: relative;
}

.container-content.hidden {
  display: none;
}

/************************
** Animation Keyframes **
*************************
* This tells the browser the timing of animations
*/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
