.basic-button {
    @extend .font-normal;
    font-size: 15px;
    background-color: $blue;
    color : $white;
    height: 40px;
    padding: 0px 30px;
    border: none;
    &:hover {
      background-color: $blue-5;
    }

    &.danger {
      background-color: $red;
      &:hover {
        background-color: $red;
      }
    }

    &.danger-inverse {
      background-color: $white;
      color: $hot;
      &:hover {
        background-color: $danger-dark;
        color: $white;
      }
    }

    &.cancel {
      color: $canvas-6;
      font-size: 14px;
      background-color: transparent;
      border: none;
      outline: none;
    }
    &.disabled {
      background-color: $canvas-9;
      color: $canvas-6;
      pointer-events: none;
    }
}
