select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  @extend .font-normal;
  font-size: 17px;
  font-weight: $semibold;
  color: $slate;

  border: none;
  height: 45px;
  text-indent: 10px;
  margin-bottom: 20px;
  border-radius: 0;

  display: block;
  outline: none;

  // The little arrow
  background-image:
    linear-gradient(45deg, transparent 50%, $blue-9 50%),
    linear-gradient(135deg, $blue-9 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 12px) calc(1em + 2px);
  background-size:
    8px 8px,
    8px 8px;
  background-repeat: no-repeat;
}

// remove the firefox select outline
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
