// Base
$blue-5: #0376CC;
$blue-8: #05A4EB;
$blue-9: #16A9EB;
$blue: #1EB8FF;
$blue-a: #50C9FA;

$red-7: #E73E57;
$red-9: #E15F72;
$red: #FF7A91;

$canvas-6: #9AAAB7;
$canvas-7: #A3B4C4;
$canvas-8: #D3DCE1;
$canvas-9: #DCE3E8;
$canvas: #E6EAEE;

$slate: #4B6372;

$lake-9: #48667C;
$lake: #547791;
$lake-a: #678CA8;

// health colors
$cool: #64C41F;
$warm: #FEA540;
$hot: #ED4545;

$code-bg: #344359;
$code-blue: #56B9E9;
$code-yellow: #FFF3A6;

// TODO: remove?
$white: white;
$off-white: #F1F5F7;
$temp-blue-grey: #6EA1B6;
$temp-blue-grey-a: #51798a;

$danger: #FF6E86;
$danger-dark: #861725;

$nanobox-blue: $code-bg;
$nanobox-green: $code-blue;
$nanobox-yellow: $code-yellow;
